langchain
dotenv
tavily
langchain_text_splitters
langgraph
langchain_community
langchain_qwq
llama-index
llama-index-embeddings-openai
pinecone
llama-index-vector-stores-pinecone
langchain-qwq
salesforce-cdp-connector
pyyaml
simple_salesforce
langgraph-checkpoint-mongodb
rank-bm25
pymongo
pydantic-settings
langchain-openai
fastapi 
uvicorn